button {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan;
    width: 400px;
    height: 100px;
}
button:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
}

.button2 {
    box-shadow: 0 0 5px orange, 0 0 25px orange;
    width: 400px;
    height: 100px;
}
.button2:hover {
    box-shadow: 0 0 5px orange, 0 0 25px orange, 0 0 50px orange, 0 0 100px orange, 0 0 200px orange;
}

.HomePage {
    background-image: url('1340999.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
h1 {
    height: 50px;
    width: 700px;
}

.GameOptions {
    background-image: url('754565.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}